
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  font-family: Arial, sans-serif;
 
}
#form-title {
  font-size: 24px;
}

.form {
  max-width: 800px;
  padding: 10px 5px 5px 10px;
  background-color: #7399d5;
 
}

.item-group {
  display: flex;
  gap: 50px;
  margin-bottom: px;
  align-items: center;
}

.item-group label {
  font-size: 18px;
}

.item-group input,
.item-group select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #435ccb;
  border-radius: 4px;
  font-family: inherit;
}

input[type="file"] {
  width: 210px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button input {
  padding: 10px 100px;
  background-color: #29c1ea;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-button input:nth-child(2) {
  padding: 10px 110px;
 
}
p{
  margin-top: 0;
  color: red;
}


.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-link a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}


